
/* Remove default styles */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Custom global styles */
.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-purple-300 to-pink-300;
}
